.error-msg {
    color: red;
    text-align: center;
    font-size: 18px;
}

.am-tab-bar {
    position:fixed;
    bottom:0;
    width: 100%;
    /*//包裹内容*/
    height: inherit;
}
.top-nav {
    z-index: 5;
    position:fixed;
    top: 0;
    width: 100%;
}
.top-space {
    margin-top: 50px;
    margin-bottom: 50px;
}
.item-height {
    height: inherit;
}

/*消息文本居右*/
#chat-page .chat-me .am-list-extra {
flex-basis: auto; /*宽度包裹内容*/
}
#chat-page .chat-me .am-list-content {
padding-right: 15px;
text-align: right;
}